body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#page{
    position: relative;
}

.options{
    position: absolute;
    cursor: pointer;
    right: 2em;
    margin: 8px;
}

#select_thickness{
    height: 30px;
    align-self: center;
    margin-right: 8px;
    margin-left: 8px;
}

.round{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin: 8px;
}

#erase_btn{
    display: flex;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    align-items: baseline;
    padding-top: 12px;
    margin-right: 8px;
    margin-top: 4px;
    margin-left: 8px;
    border: 1px solid ghostwhite;
    border-radius: 50%;
}

#clear_all_btn{
    margin: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    border: 1px solid ghostwhite;
}

#select_thickness{
    color: #FFFFFF;
    background-color: #202020;
}

#yellow{
    background-color: #FFF222;
}
#blue{
    background-color: #0ABDE3;
}
#white{
    background-color: #FFFFFF;
}

#canvas{
    cursor: crosshair;
    background-color: #202020;
}